
<div class=" px-5">
  <div class="p-4">
    <h2  class="text-xl font-bold "> {{ !activeRoomID? 'Add' : isFormDisabled?'View' : 'Edit' }} Room </h2>
  </div>
  <form
    class=""
    [formGroup]="addRoomForm"
    (ngSubmit)="Submit(addRoomForm)"
  >
    <div class=" ">
      <app-auth-inputs
        formControlName="roomNumber"
        label="Room Number"
        placeholder="Please type here"
        id="roomNumber"
      ></app-auth-inputs>
      <div
        *ngIf="
          addRoomForm.get('roomNumber')?.touched &&
          addRoomForm.get('roomNumber')?.errors
        "
        class="text-red-500 text-sm mt-1"
      >
        Room Number is required.
      </div>
    </div>


    <div class="grid grid-cols-2 gap-4 ">
      <div>
        <app-auth-inputs
          formControlName="price"
          label="Price"
          placeholder="Please type here"
          id="price"
        ></app-auth-inputs>
        <div
          *ngIf="
            addRoomForm.get('price')?.touched &&
            addRoomForm.get('price')?.errors
          "
          class="text-red-500 text-sm mt-1"
        >
          Phone Number is required.
        </div>
      </div>

      <div>
        <app-auth-inputs
          formControlName="capacity"
          label="capacity"
          placeholder="Please type here"
          id="capacity"
        ></app-auth-inputs>
        <div
          *ngIf="
            addRoomForm.get('capacity')?.touched &&
            addRoomForm.get('capacity')?.errors
          "
          class="text-red-500 text-sm mt-1"
        >
          Country is required.
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 items-center">
      <div>
        <app-auth-inputs
          formControlName="discount"
          label="discount"
          placeholder="Please type here"
          id="discount"
        ></app-auth-inputs>
        <div
          *ngIf="
            addRoomForm.get('discount')?.touched &&
            addRoomForm.get('discount')?.errors
          "
          class="text-red-500 text-sm mt-1"
        >
          Phone Number is required.
        </div>
      </div>

     <!-- Facilities Dropdown -->
  <div class="flex flex-col gap-1 relative w-[90%]">
    <label  class="font-normal text-base leading-[170%] tracking-[0]">Facilities</label>
    <p-multiSelect
    class="w-[90%] mb-3 border border-gray-300 bg-gray-100 rounded-md
    px-3  focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-primary-500"
      [options]="facilities"
      optionLabel="name"
      formControlName="facilities"
      display="chip"
      class="w-full mt-1"
      placeholder="Select facilities">
    </p-multiSelect>
  </div>


    </div>


    <ngx-dropzone class="bg-green-200 "

     (change)="onSelect($event)"  [disabled]="isViewMode">
      <ngx-dropzone-label>

       <div> <i class="pi pi-cloud-upload text-lg"></i> </div>
        <p>Drag & Drop or <span class="text-green-600">  Choose a Room Images</span>  to Upload</p>
      </ngx-dropzone-label>
      <ngx-dropzone-preview
        *ngFor="let f of files"
        [removable]="true"
        (removed)="onRemove(f)"
      >
      <img
      *ngIf="f.preview"
      [src]="f.preview"
      alt="{{ f.name }}"
      style="width: 100px; height: auto; object-fit: cover; display: block;"
    />
      </ngx-dropzone-preview>
    </ngx-dropzone>



    <div class="flex justify-end space-x-4">
      <button *ngIf="!isViewMode" type="submit"
      class="px-6 py-2 bg-blue-600
       text-white rounded-lg hover:bg-blue-700 transition"
      >{{!activeRoomID? 'Add' : 'update'}}</button>

      <button type="button"
      routerLink="/admin/rooms/rooms"
      class="px-6 py-2 border border-blue-500
       text-blue-500 rounded-lg hover:bg-blue-50 transition"
      >cancel</button>
    </div>

  </form>
</div>



