<div class="min-h-screen flex items-center justify-center bg-gray-100 p-6">
    <div class="bg-white rounded-lg shadow-lg flex w-full max-w-5xl overflow-hidden">
      <p class="ms-3 my-3"><span>stay</span>cation</p>
      <!-- Left Side (Form) -->
      <div class="w-full md:w-1/2 mt-10 pt-10">
        <h2 class="text-2xl font-semibold mb-4">Reset Password</h2>
        <p class="text-sm mb-4">
          If you already have an account register <br />
          You can <span class="text-red-500 font-semibold cursor-pointer">Login here !</span>
        </p>
  
        <div class="space-y-4">
          <span class="block text-sm">Email</span>
          <input pInputText type="email" placeholder="Please type here ..." class="w-full" />
  
          <span class="block text-sm">OTP</span>
          <input pInputText type="text" placeholder="Please type here ..." class="w-full" />
  
          <span class="block text-sm">Password</span>
          <input pPassword toggleMask="true" placeholder="Please type here ..." class="w-full" />
  
          <span class="block text-sm">Confirm Password</span>
          <input pPassword toggleMask="true" placeholder="Please type here ..." class="w-full" />
  
          <button pButton type="button" label="Reset" class="w-full mt-4 bg-blue-600 hover:bg-blue-700 text-white"></button>
        </div>
      </div>
  
      <!-- Right Side (Image) -->
      <div class="hidden md:block md:w-1/2 relative">
        <img src="../../../../assets/images/forget-reset.png" alt="Reset" class="object-cover h-full w-full" />
        <div class="absolute bottom-6 left-6 text-white">
          <h2 class="text-2xl font-bold">Reset Password</h2>
          <p class="text-sm">Homes as unique as you.</p>
        </div>
      </div>
  
    </div>
  </div>
  