<div class=" container ">
    <div class=" grid sm:grid-cols-2 justify-evenly items-center p-5">
        <div class="relative text-center">
          <img src="../../../../assets/img/foto_keluarga.png" alt="Happy Family" >
        </div>
        <div class="flex flex-col justify-center gap-6 p-6">
            <div>
              <h2 class="text-lg font-semibold text-blue-900 mb-2">Happy Family</h2>
              <div class="text-yellow-400 mb-4">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
              </div>
              <p class="text-lg font-medium text-blue-900 mb-4">
                What a great trip with my family and I should try again next time soon ...
              </p>
              <p class="text-gray-400 text-sm">Angga, Product Designer</p>
            </div>
            <div class="flex gap-4 mt-6">
              <button class="w-10 h-10 flex items-center justify-center border-2 border-blue-600 text-blue-600 rounded-full hover:bg-blue-600 hover:text-white transition">
                <span>&larr;</span>
              </button>
              <button class="w-10 h-10 flex items-center justify-center border-2 border-blue-600 text-blue-600 rounded-full hover:bg-blue-600 hover:text-white transition">
                <span>&rarr;</span>
              </button>
            </div>
          </div>
    </div>
</div>
