<div class="w-full mx-auto grid sm:grid-cols-1  md:grid-cols-2 gap-8 p-5 border rounded   " >
  <div class=" rate relative w-full p-3">
   <p class=" span-content"> Rate </p>
   <div>
     <i  class=" pi pi-star-fill text-[#DFCB1D] mr-1"></i>
     <i  class=" pi pi-star-fill text-[#DFCB1D] mr-1"></i>
     <i  class=" pi pi-star-fill text-[#DFCB1D] mr-1"></i>
     <i  class=" pi pi-star-fill text-[#DFCB1D] mr-1"></i>
     <i  class=" pi pi-star-fill text-[#DFCB1D] mr-1"></i>
   </div>
   <!-- <div class="flex" *ngFor="let star of stars">
     <i class=" pi pi-star-fill text-[#DFCB1D] mr-1"></i>
   </div> -->

   <div>
     <p class=" span-content pt-3 pb-1"> Message </p>
     <textarea class="text-area-style" rows="4" placeholder="Write your message..."></textarea>
   </div>
   <button class="pageDetails-btn ">Rate</button>
  </div>

  <div  class="flex flex-col space-y-4">
   <p class=" span-content mb-6"> Add Your Comment </p>
   <div>
     <p class=" span-content pt-3 pb-1"> Message </p>
     <textarea class="text-area-style" rows="4" placeholder="Write your message..."></textarea>
   </div>
   <button class="pageDetails-btn ">Send</button>
  </div>


  </div>
