<div *ngIf="isLoading" class="text-center">
  <p>Loading...</p>
</div>
<div class="p-5">
    <h1 class="font-poppins text-3xl font-bold mb-6 text-center">Your Favorites</h1>
    <p class="font-poppins mb-5 ml-3 text-[rgba(176,176,176,1)] font-light text-[18px] leading-[1] tracking-normal">Home     /    Favorites</p>

    <h1 class="font-poppins mb-3 font-medium text-2xl leading-none tracking-tight">Your rooms</h1>
    
    <div *ngIf="!isLoading">
      <div *ngIf="isRoomsEmpty">
        <img src="../../../../assets/img/no-data.jfif" alt="No Data" class="m-auto" />
        <p class="font-poppins text-center">No data available</p>
      </div>
    <div *ngIf="!isRoomsEmpty">
      <div  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 auto-rows-[250px]">
        <ng-container *ngFor="let fav of favoriteRooms">
          <ng-container *ngFor="let room of fav.rooms">
            <div class="flex flex-col overflow-hidden">
              <div class="card-wrapper">
                <img [src]="room.images[0] || '/assets/img/Rectangle 3.png'" alt="Favorite Room Image" class="card-img" />
                <div class="card-footer-in">
                  <h3 class="text-xl font-bold">Stark House</h3>
                  <p class="text-sm">Malang, Indonesia</p>
              </div>
                <div class="overlay">
                  <div class="icon-container">
                    <i class="fas fa-heart" (click)="removeFav(room._id)"></i>
                  </div>
                </div>
              </div>
            
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    
  </div>
  

