<!-- <section>
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <h2 class="">Staycation.</h2>
        <div class="p-5">
          <h3>Forgot password</h3>
          <p>If you already have an account register</p>
          <p>you can <span routerLink="auth/login">Login Here! </span></p>
        </div>
        <form [formGroup]="forgetPassword">
          <input
            placeholder="email.."
            id="email"
            class="form-control"
            formControlName="email"
            type="email"
          />
          <button
            type="submit"
            (click)="onSubmit(forgetPassword.get('email'))"
            class="btn-primary"
          >
            Send mail
          </button>
        </form>
      </div>
      <div class="col-md-6">
        <img
          src="../../../../assets/img/foget-password.png"
          class="shadow w-100"
          alt=""
        />
      </div>
    </div>
  </div>
 </div>
</section> -->
<!-- ----------------------------- -->
<div class="bg-white min-h-screen flex items-center justify-center p-2">
  <div class="flex w-full overflow-hidden">
    <p class="ms-3 my-3 font-medium text-[26px] leading-[100%] tracking-[0]"><span
        class="text-primary font-medium text-[26px] leading-[100%] tracking-[0]">stay</span>cation</p>
    <!-- Left Side (Form) -->

    <div class="w-full md:w-1/2 mt-10 pt-10">
      <h2 class="font-medium text-[30px] leading-[100%] tracking-[0] mb-4">Forget Password</h2>
      <p class="font-normal text-base leading-relaxed tracking-[0] mb-4">
        If you already have an account register <br />
        You can <span class="text-red-500 font-semibold cursor-pointer"><a routerLink="/auth/login">Login here
            !</a></span>
      </p>

      <form [formGroup]="forgetPassword" (ngSubmit)="sendData(forgetPassword)">

        <app-auth-inputs formControlName="email" type="email" label="Email" placeholder="Please type here ..."
          id="Email" value="">
        </app-auth-inputs>
        <small class="text-red-600 block"
          *ngIf="forgetPassword?.get('email')?.invalid && forgetPassword?.get('email')?.touched">
          <span *ngIf="forgetPassword?.get('email')?.errors?.['required']">Email is required.</span>
          <span *ngIf="forgetPassword?.get('email')?.errors?.['email']">Enter a valid email.</span>
        </small>





        <button pButton type="submit" label="forget" [disabled]="forgetPassword.invalid"
          [ngStyle]="{'pointer-events': forgetPassword.invalid ? 'none' : 'auto' }"
          class="w-[75%] px-3 py-2 mt-4 rounded-md bg-primary hover:bg-primary-800 text-white"></button>
      </form>
    </div>

    <!-- Right Side (Image) -->
    <div class="hidden md:block md:w-[40%] relative">
      <img src="../../../../assets/img/foget-password.png" alt="forget-password" class="object-cover h-full w-full" />

    </div>

  </div>
</div>
