<section>
  <div class="container py-4">
  <div class="row">
    <div class="col-md-6">
      <h2 class="">Staycation.</h2>
      <div class="p-5">
        <h3>Forgot password</h3>
        <p>   If you already have an account register</p>
        <p> you can  <span routerLink="auth/login">Login Here! </span> </p>
      </div>
      <form  formGroup="forgetPassword">
        <input
        class="form-control"
        formControlName="email"
         type="email"
         >
        <button type="submit" (click)="onSubmit(forgetPassword)" class="btn-primary">Send mail</button>
      </form>

    </div>
    <div class="col-md-6">
      <img src="../../../../assets/img/foget-password.png" class="shadow w-100 " alt="">
    </div>


  </div>
 </div>
</section>
