<app-landing-navbar></app-landing-navbar>

<section class="container mx-auto w-4/5 mb-2 ">
  <!-- title -->
  <div class=" w-2/3 pt-3 pb-5 flex items-center justify-between  ">
    <!-- left side -->
    <div class="flex items-center justify-center ">
      <a routerLink="/landing"  class="p-content">Home</a>
      <p class="mx-7  p-content"> / </p>
      <a routerLink="landing/pageDetails" routerLinkActive="span-content" class="span-content">Room Details</a>
      </div>
      <!-- main title -->
      <div class="text-center">
        <h2 class="text-landingContent-h2 h2-content">Village Angga</h2>
        <p class="text-landingContent-p p-content"> Bogor, Indonesia</p>
      </div>

  </div>
  <!-- --------------------------------------------------------- -->
     <!--img && content -->
   <app-content [roomID]="roomID"  ></app-content>
   <!-- --------------------------------------------------- -->
    <!-- rate  && comment  -->
    <app-rate-comment [roomID]="roomID"  ></app-rate-comment>

</section>




<!-- <div class=" relative">
  <app-landing-footer></app-landing-footer>
</div> -->


