.img-container img {
  // width: 100%;
  // height: 100%;
  // object-fit: cover;
  transition: transform 0.3s ease;
}

.img-container img:hover  {
  transform: scale(1.02);
}

textarea {
  border: 1px solid #203FC7 !important;
}

.rate::after{
  content: '';
  position: absolute;
  right: 0rem;
  top: .5rem;
  width: 2px;
  height: 100%;
  background-color: #203FC7;
  opacity: .3;
  border-radius: .5rem;
}
