<app-landing-navbar></app-landing-navbar>

<section class="container mx-auto w-4/5 mb-2 ">
  <!-- title -->
  <div class=" w-2/3 pt-3 pb-5 flex items-center justify-between  ">
    <!-- left side -->
    <div class="flex items-center justify-center ">
      <a routerLink="/landing"  class="p-content">Home</a>
      <p class="mx-7  p-content"> / </p>
      <a routerLink="landing/pageDetails" routerLinkActive="span-content" class="span-content">Room Details</a>
      </div>
      <!-- main title -->
      <div class="text-center">
        <h2 class="text-landingContent-h2 h2-content">Village Angga</h2>
        <p class="text-landingContent-p p-content"> Bogor, Indonesia</p>
      </div>

    </div>
  <!-- img -->
   <div class="show-images gap-2 grid  sm:grid-cols-1  md:grid-cols-2 ">
    <div class="img-container ">
      <img src="../../../../assets/img/pageD1.png" class="h-full w-full object-cover rounded" alt="">
    </div>
    <!-- static img -->
    <div class="img-container grid grid-rows-2 gap-2" *ngIf="images.length  <= 0">
      <div class=""><img src="../../../../assets/img/pageD2.png" class="h-full w-full object-cover"  alt=""> </div>
     <div> <img src="../../../../assets/img/pageD3.png" class="h-full w-full object-cover" alt=""> </div>
    </div>
    <!-- img from api -->
    <div class="img-container grid grid-rows-2 gap-2" *ngIf="images.length > 0" >
      <div class="" *ngFor="let img of images">
        <img [src]="img" class="h-full w-full object-cover"  alt="">
      </div>
    </div>
  </div>
  <!-- --------------------------------------------------------- -->
     <!-- content -->
   <app-content></app-content>
   <!-- --------------------------------------------------- -->
    <!-- rate  && comment  -->
    <app-rate-comment></app-rate-comment>

</section>




<!-- <div class=" relative">
  <app-landing-footer></app-landing-footer>
</div> -->


