<app-landing-navbar></app-landing-navbar>
<section class="userProfile">
  <div class="mt-5">
    <div class="container">
      <div class="flex justify-between content-center">
        <h1>{{ resourcePath + "title" | translate }}</h1>
        <button
          pButton
          (click)="toggleEdit()"
          [label]="resourcePath + 'edit' | translate"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        ></button>
      </div>
      <form [formGroup]="userProfile">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <img
              formControlName="profileImage"
              [src]="userProfile.get('profileImage')?.value"
              alt="User Profile Picture"
              class="rounded-[1rem] w-[100%] h-[100%]"
            />
          </div>

          <div class="flex flex-col">
            <div class="flex flex-col mb-2 gap-2">
              <label for="username">{{ resourcePath + "userName" | translate }}</label>
              <input
                pInputText
                id="username"
                class="border border-blue-500 rounded p-2"
                type="text"
                aria-describedby="username-help"
                formControlName="userName"
              />
            </div>
            <div class="flex flex-col mb-2 gap-2">
              <label for="username">{{ resourcePath + "email" | translate }}</label>
              <input
                pInputText
                id="email"
                class="border border-blue-300 rounded p-2"
                type="text"
                aria-describedby="email-help"
                formControlName="email"
              />
            </div>
            <div class="flex flex-col mb-2 gap-2">
              <label for="username">{{ resourcePath + "phoneNumber" | translate }}</label>
              <input
                pInputText
                id="phoneNumber"
                class="border border-blue-300 rounded p-2"
                type="text"
                aria-describedby="email-help"
                formControlName="phoneNumber"
              />
            </div>
            <div class="flex flex-col mb-2 gap-2">
              <label for="username">{{ resourcePath + "country" | translate }}</label>
              <input
                pInputText
                id="country"
                class="border border-blue-300 rounded p-2"
                type="text"
                aria-describedby="email-help"
                formControlName="country"
              />
            </div>
            <div class="flex flex-col mb-2 gap-2" *ngIf="isEdit">
              <label for="username">{{ resourcePath + "confirmPassword" | translate }}</label>
              <input
                pInputText
                id="confirmPassword"
                class="border border-blue-300 rounded p-2"
                type="password"
                aria-describedby="confirmPassword-help"
                formControlName="confirmPassword"
              />
              <small id="confirmPassword-help">
                {{ resourcePath + "confirmPasswordDesc" | translate }}
              </small>
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-4" *ngIf="isEdit">
          <button
            pButton
            
            [label]="resourcePath + 'save' | translate"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            *ngIf="isEdit"
          ></button>
          </div>

      </form>
    </div>
  </div>
</section>
