// =======================
// Custom SCSS Modules
// =======================
@use "assets/styles/modules/auth/authModule.scss";

// =======================
// Angular Material Theming
// =======================
@use "@angular/material" as mat;

@include mat.core();

$hotelManagement-primary: mat.define-palette(mat.$indigo-palette);
$hotelManagement-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$hotelManagement-warn: mat.define-palette(mat.$red-palette);
$hotelManagement-theme: mat.define-light-theme((
  color: (
    primary: $hotelManagement-primary,
    accent: $hotelManagement-accent,
    warn: $hotelManagement-warn,
  )
));

@include mat.all-component-themes($hotelManagement-theme);

// =======================
// TailwindCSS
// =======================
@tailwind base;
@tailwind components;
@tailwind utilities;

// =======================
// Global Styles
// =======================
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.icon-color {
  color: #3252df;
}
.icon-delete {
  color: #f44336;
}

:root {
  --font-secondary: 'Poppins', sans-serif;
  --bg-head: rgba(226,229,235,1);
}
@layer utilities {
  .font-secondary {
    font-family: var(--font-secondary);
  }
  .bg-head {
    background-color: var(--bg-head);
  }
}

@layer components {
  .table-striped {
    tr:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }

  .custom-table {
    @apply w-full table-striped;
  }

  .custom-table thead {
    @apply bg-head;
  }

  .custom-table th {
    @apply px-6 py-5 text-center font-secondary font-medium text-base leading-none tracking-normal;
  }

  .custom-table thead th:first-child {
    @apply rounded-tl-lg rounded-bl-lg;
  }

  .custom-table thead th:last-child {
    @apply rounded-tr-lg rounded-br-lg;
  }

  .custom-table td {
    @apply px-6 py-4 text-center font-secondary font-normal text-sm leading-[100%] tracking-[0%] text-black;
  }
}


